@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}
#ex1 {
  height: auto;
}
#quote {
  background-color: #011627;
  color: white;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-shadow: 8px 6px 8px -3px rgba(0,0,0,0.67);
  box-shadow: 8px 6px 8px -3px rgba(0,0,0,0.67);
}
.item a {
  text-decoration:none;
  display: flex;
  flex-direction: column;
  color: white;
}

.main {
  padding:20px 10px;
}

.mark {
  background-color: red;
}

.container {
  display: inline-block;
  margin: 10px 0;
}

.item {
  border: 1px solid black;
  padding: 5px;
  margin:0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 500;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.item:before, .item:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#a {
  background-color: #ffbd00;

}
#b {
  background-color: #0ead69;
}
#c {
  background-color: #f21b3f;
}
#d {
  background-color: #390099;
}


.item_img {
  width: 40px;
  margin: 20px 10px;
}

.balance {
  border: 1px solid black;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background-color: #003049;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
span {
  font-weight: 600;
  font-size: 25px;
}
.white {
  color: white;
  text-shadow: 0 0 2px #000;
}

#date {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 2px #000;
}






/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
* {
  overflow-x: hidden;
}
body {
  margin:0;
  padding: 0;
  font-family: 'Open Sans';
  background-blend-mode: darken;
}
.extend {
  padding: 0;
  margin:0;
}
.hello {
  background-color: #0f1923;
  padding: 10px 0px;
  color: white;
}

.main {
  margin-top: 15%;
}
.main img {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.items {
  margin: 20px 0;
}
.item {
  background: linear-gradient(to top, #FF9F1C, #ff7e1c);
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #011627;
  box-shadow: inset -38px -40px 188px -139px #FF9F1C;
}

.date {
  font-size: 24px;
  position: absolute;
  background-color: #2EC4B6;
  bottom: 56px;
  padding: 10px 0px;
}
.balance {
  font-size: 24px;
  position: fixed;
  background-color: #E71D36;
  bottom: 0px;
  padding: 10px 0px;
}
*/
